<div class="page-heading">



    <h1>Create a new Staff</h1>



</div>



<form action="/create" method="POST" enctype="multipart/form-data">



    <div class=”control-group”>



        <div class="form-group floating-label-form-group controls">



            <label>Name</label>



            <input type="text" class="form-control" id="name" name="sname">



        </div>



    </div>



    <div class=”control-group”>



        <div class="form-group floating-label-form-group controls">



            <label>Email</label>



            <input type="text" class="form-control" id="price" name="email">



        </div>



    </div>

    <div class=”control-group”>



        <div class="form-group floating-label-form-group controls">



            <label>Position</label>



            <input type="text" class="form-control" id="quantity" name="position" placeholder="Position">



        </div>



    </div>




    <div class="form-group">

        <button type="submit" class="btn btn-primary">Create</button>

    </div>



</form>
