<!DOCTYPE html>
<html lang="en">
<head>
    <title>Staff</title>
</head>
<body>
<h3>List Staff</h3><% for (const staff of result) { %> <p>Name: <%= staff.sname %> </p>
<p>Email: <%= staff.email %> </p>
<p>Position: <%= staff.position %> </p>
</br><% } %>
</body>
</html>