
<!DOCTYPE html>

<html lang="en">

<head>

    <title>Home</title>

</head>

<body>

<h2 style="margin-bottom:20px; text-align: center;">List image</h2>

<ul class="mdc-image-list my-image-list" style="display:table-cell; vertical-align:middle; text-align:center">

    <li class="mdc-image-list__item" style="float: right; margin-right: 30px;">

        <div class="mdc-image-list__image-aspect-container">

            <img class="mdc-image-list__image" src="daddario.jpg" style="height: 200px;">

        </div>

        <div class="mdc-image-list__supporting">

            <span class="mdc-image-list__label">Alessandro Daddario</span>

        </div>

    </li>

    <li class="mdc-image-list__item" style="float: right; margin-right: 30px;">

        <div class="mdc-image-list__image-aspect-container">

            <img class="mdc-image-list__image" src="Emma_Watson_in_the_Bag.jpg" style="height: 200px;">

        </div>

        <div class="mdc-image-list__supporting">

            <span class="mdc-image-list__label">Emma Watson</span>

        </div>

    </li>

    <li class="mdc-image-list__item" style="float: right; margin-right: 30px;">

        <div class="mdc-image-list__image-aspect-container">

            <img class="mdc-image-list__image" src="gal-gadot.png" style="height: 200px;">

        </div>

        <div class="mdc-image-list__supporting">

            <span class="mdc-image-list__label">Gal Gadot</span>

        </div>

    </li>

    <li class="mdc-image-list__item" style="float: right; margin-right: 30px;">

        <div class="mdc-image-list__image-aspect-container">

            <img class="mdc-image-list__image" src="scarrlett-johansson.png" style="height: 200px;">

        </div>

        <div class="mdc-image-list__supporting">

            <span class="mdc-image-list__label">Scarrlett Johansson</span>

        </div>

    </li>

</ul>

</body>

</html>